In [2]:
from py2neo import Graph
from py2neo import Node
from py2neo import Relationship

from collections import defaultdict
import pandas as pd
import matplotlib.pyplot as plt
from pprint import pprint

In [3]:
graph = Graph(password='xxx')

In [4]:
def get_index_first_False(bool_path):
    found = False
    i = 0
    while not found and i < len(bool_path):
        if bool_path[i] is False:
            found = True
        else:
            i += 1
    return i


def deal_with_revisit(row):
    IDs = row['userIDs']
    boolPath = row['relatedToUkrOrRussia']
    new_boolPath = []
    
    # find how many duplicates
    dup_dict = duplicates(IDs)
    nb_dup = len(dup_dict)
    
    boolPath_ind = 0
    for i, ID in enumerate(IDs):
        if ID not in dup_dict:
            new_boolPath.append(boolPath[boolPath_ind])
            boolPath_ind += 1
        else:
            locs = dup_dict[ID]
            
            if i == locs[0]:
                new_boolPath.append(boolPath[boolPath_ind])
                boolPath_ind += 1
            else:
                new_boolPath.append(boolPath[locs[0]])
                
    return new_boolPath
    
    
def duplicates(seq):
    tally = defaultdict(list)
    for i,item in enumerate(seq):
        tally[item].append(i)
    keys = [key for key,loc in tally.items() if len(loc)>1]
    d = dict()
    for key in keys:
        d[key] = tally[key]
    return d

# Most watched videos

Get the most watched videos that mention Ukraine or Russia. For the authors of these videos, count how many of their videos mention Ukraine or Russia and war.

In [5]:
query = """
// get the users of the $top most watched videos containing the words "ukraine" or "russia" and "war" 
MATCH (u:user)-[:author]-(v:video)
WHERE (v.desc =~ '(?i).*ukrain.*|.*russia.*' OR v.stickerText =~ '(?i).*ukrain.*|.*russia.*') AND 
(v.desc =~ '(?i).*war.*' OR v.stickerText =~ '(?i).*war.*')
WITH u, v
ORDER BY v.playCount DESC LIMIT $top

// for these users, count how many of their videos mention "ukraine" or "russia" and "war"
MATCH (u)-[:author]-(userVideos:video)
WHERE (userVideos.desc =~ '(?i).*ukrain.*|.*russia.*' OR userVideos.stickerText =~ '(?i).*ukrain.*|.*russia.*') AND 
(userVideos.desc =~ '(?i).*war.*' OR userVideos.stickerText =~ '(?i).*war.*')
WITH u, v, count(userVideos) AS nbVideosMentionUkraineOrRussia

// return info, order by ascending nbVideosMentionUkraineOrRussia and descending nbTimesPlayed
RETURN u.nickname AS name, u.uniqueId AS id, u.signature AS signature, nbVideosMentionUkraineOrRussia, 
u.verified AS verified, u.videoCount AS videos, u.followerCount AS followers, u.followingCount AS isFollowing, 
u.diggCount AS hasLiked, u.heartCount AS hasBeenLiked, u.commerceUserInfo_commerceUser AS cormercial,
v.desc AS videoDesc, v.playCount AS nbTimesPlayed ORDER BY nbVideosMentionUkraineOrRussia, nbTimesPlayed DESC
"""

result_data = graph.run(query, top=100).to_data_frame()
result_data.head()

,name,id,signature,nbVideosMentionUkraineOrRussia,verified,videos,followers,isFollowing,hasLiked,hasBeenLiked,cormercial,videoDesc,nbTimesPlayed
0,stopthwar,stopthwar,ğŸ‡ºğŸ‡¦ğŸ‡ºğŸ‡¦ğŸ‡ºğŸ‡¦,1,0,8,510100,0,251,2300000,NaN,STOP THE WAR ğŸ‡ºğŸ‡¦ğŸ™ğŸ» #ukraine #russia #usa #nato ...,38600000
1,QueenShiels,shielsguardo,NFT: queenshiels\nWebtoon: Love Unreal\nYT: Sh...,1,0,759,106000,1707,45500,3900000,1.0,Connecting the dots and the prologue of #proje...,32100000
2,Cheddy Grace,cheddygrace,Analyst/Part-Time Blogger\nwhatever it is\nBat...,1,0,767,107800,70,5519,14400000,NaN,Emotional moment as Ukraine soldiers left wive...,31600000
3,leok.signs,leo.love.signs,ROAD TO 300K FOLLOWERS!!\nTHANKS FOR ALL SUPPO...,1,0,1158,247000,35,129,19200000,NaN,WAR WORLD 3 IS COMING! ğŸ’¥#fyp #russia #ukraine ...,20500000
4,hannanağŸ‘‘,hannanajj,RANDOM POST,1,0,475,325500,35,85700,47800000,NaN,I would supportÂ you sir #putin #rusia #ukrain...,16900000

Again, get the most watched videos that mention Ukraine or Russia. For the authors of these videos, count how many of their videos mention Ukraine or Russia and war. This time filter out users that mention the word news in their info.

In [6]:
query = """
// get the users of the $top most watched videos containing the words "ukraine" or "russia" and "war" 
// + filter out news accounts
MATCH (u:user)-[:author]-(v:video)
WHERE (v.desc =~ '(?i).*ukrain.*|.*russia.*' OR v.stickerText =~ '(?i).*ukrain.*|.*russia.*') AND 
(v.desc =~ '(?i).*war.*' OR v.stickerText =~ '(?i).*war.*') AND NOT (u.uniqueId =~ '.*[nN]ews.*')
WITH u, v
ORDER BY v.playCount DESC LIMIT $top

// for these users, count how many of their videos mention "ukraine" or "russia" and "war"
MATCH (u)-[:author]-(userVideos:video)
WHERE (userVideos.desc =~ '(?i).*ukrain.*|.*russia.*' OR userVideos.stickerText =~ '(?i).*ukrain.*|.*russia.*') AND 
(userVideos.desc =~ '(?i).*war.*' OR userVideos.stickerText =~ '(?i).*war.*')
WITH u, v, count(userVideos) AS nbVideosMentionUkraineOrRussia

// return info, order by descending nbTimesPlayed
RETURN u.nickname AS name, u.uniqueId AS id, u.signature AS signature, nbVideosMentionUkraineOrRussia, 
u.verified AS verified, u.videoCount AS videos, u.followerCount AS followers, u.followingCount AS isFollowing, 
u.diggCount AS hasLiked, u.heartCount AS hasBeenLiked, u.commerceUserInfo_commerceUser AS cormercial,
v.desc AS videoDesc, v.playCount AS nbTimesPlayed ORDER BY nbTimesPlayed DESC
"""

result_data = graph.run(query, top=100).to_data_frame()
result_data.head()

,name,id,signature,nbVideosMentionUkraineOrRussia,verified,videos,followers,isFollowing,hasLiked,hasBeenLiked,cormercial,videoDesc,nbTimesPlayed
0,Marta Vasyuta,martavasyuta,ğŸ‡ºğŸ‡¦ğŸ‡¬ğŸ‡§\nI show real footages of real people\nDon...,4,0,132,263500,159,276800,20100000,NaN,ğŸ™ğŸ½ğŸ‡ºğŸ‡¦ #Ukraine Spread awareness!,51200000
1,UKRAINE ğŸ‡ºğŸ‡¦,foryouukrainee,GOD BLESS UKRAINE ğŸ‡ºğŸ‡¦,18,0,51,434300,5,1164,3000000,NaN,#ukraine #viralvideo #army #russia #fypã‚·,48800000
2,Valerisssh,valerisssh,PHOTOGRAPHER \nHOW TO HELP UKRAINE?\nlink on m...,18,0,626,1100000,87,21100,38200000,NaN,Living my best life ğŸ¥°ğŸ¥°ğŸ¥° Thanks Russia! #ukrain...,48100000
3,ğŸ”¥ğŸ”¥,nato.1234,,2,0,8,205300,1,82,4600000,1.0,#russia #ukraine #russiavsukraine #war #ww3 #v...,43800000
4,Brut.,brutofficiel,Abonne-toi â†–ï¸\n\n\n\nACTU. DÃ‰CRYPTAGE. INTERVI...,3,1,1533,1600000,45,413,33900000,1.0,Â« Stop Putinâ€™s War Â» : action des femen Ã Pari...,39200000

Get the most played videos.

In [7]:
query = """
MATCH (u:user)-[:author]-(v:video)
WITH u, v
ORDER BY v.playCount DESC LIMIT $top
RETURN u.nickname AS name, u.uniqueId AS id, u.signature AS signature, u.verified AS verified, 
u.videoCount AS videos, u.followerCount AS followers, u.followingCount AS isFollowing, u.diggCount AS hasLiked, 
u.heartCount AS hasBeenLiked, u.commerceUserInfo_commerceUser AS cormercial,v.desc AS videoDesc, 
v.playCount AS nbTimesPlayed ORDER BY nbTimesPlayed DESC
"""

result_data = graph.run(query, top=100).to_data_frame()
result_data.head()

,name,id,signature,verified,videos,followers,isFollowing,hasLiked,hasBeenLiked,cormercial,videoDesc,nbTimesPlayed
0,Bella Poarch,bellapoarch,This ainâ€™t Build a B*tchğŸ’…ğŸ»ğŸ’•,1,463,89400000,590,8348,2100000000,NaN,To the ğŸ ğŸ ğŸ #fyp,686500000
1,Jamie Big Sorrel Hor,jamie32bsh,Great Things Coming This Week!,0,62,7800000,72,3420,93900000,NaN,,413900000
2,Kapsalonfreedom,kapsalonfreedomboxmeer,No bio yet,0,316,5400000,1,18900,77500000,NaN,#viral #viral#foryou #foryou #foryoupage #kaps...,349900000
3,Patrick Hanson,patrickhanson17,,0,37,4100000,48,2895,39300000,NaN,#trickshot #pingpong #rubegoldberg #quarantine...,325300000
4,Kison Kee,kisonkee,@kisonkee on Instagram \nMGMT: Clicks Talent \...,1,161,3700000,349,40900,69400000,NaN,You guys (literally) asked for this ğŸ˜‚ #comedy ...,319600000

# Recommendations

Get the total number of recommendations.

In [8]:
query = """
MATCH p = ()-[r:recommends]->() RETURN count(p) AS nbRecommendations
"""
result_data = graph.run(query).to_data_frame()
result_data.head()

   nbRecommendations
0             228389

Get the most recommended videos and who they were recommended by.

In [9]:
query = """
// get all videos that have been recommended
MATCH (recommended:video)<-[:recommends]-(recommender)

// count the number of times the video has been recommended, return a list of the user IDs and video descriptions of the
// recommenders, return whether the video was recommended by only users, only videos, or both
WITH recommended, count(recommender) AS nbTimesRecommended, 
collect(coalesce(recommender.desc, recommender.uniqueId)) AS recommenderInfo, 
collect(distinct labels(recommender)[0]) AS  recommenderLabel
RETURN nbTimesRecommended, recommended.playCount AS timesPlayed, recommended.desc AS desc, recommenderLabel, recommenderInfo

// get the top $top recommended videos 
ORDER BY nbTimesRecommended DESC, timesPlayed DESC
LIMIT $top
"""
result_data = graph.run(query, top=100).to_data_frame()
result_data.head()

,nbTimesRecommended,timesPlayed,desc,recommenderLabel,recommenderInfo
0,14,1900000,Too early for easter chocolate?,[video],[#Ø§Ù„Ø¬Ø²Ø§Ø¦Ø±ğŸ‡©ğŸ‡¿ğŸ˜˜ØªÙŠÙƒ_ØªÙˆÙƒ_ #russia #ukraine #dz #vir...
1,13,24000000,Who else cleans out there exhaust? ğŸ˜‚#foryou #f...,[video],"[analisi top #perte #foryou #foryoupage #fyp, ..."
2,12,6200000,Ready when you are prince!ğŸ£ğŸ¤#9monthspregnant #...,[video],"[analisi top #perte #foryou #foryoupage #fyp, ..."
3,12,4900000,Teaching her patience ğŸ˜‚ğŸ˜‚ğŸ˜‚ @jlo1017 #fyp #Screa...,[video],[Wat zou jij doen als dit jou overkomt?ğŸ¤£ 2âœ¨ #N...
4,12,1300000,Up there with one of the worst messages to rec...,[video],"[analisi top #perte #foryou #foryoupage #fyp, ..."

Get the most recommended users and who they were recommended by.

In [10]:
query = """
// get all users that have been recommended
MATCH (recommended:user)<-[:recommends]-(recommender)

// count the number of times the user has been recommended, return a list of the user IDs and video descriptions of the
// recommenders, return whether the user was recommended by only users, only videos, or both
WITH recommended, count(recommender) AS nbTimesRecommended, 
collect(coalesce(recommender.desc, recommender.uniqueId)) AS recommenderInfo, 
collect(distinct labels(recommender)[0]) AS recommenderLabel
RETURN nbTimesRecommended, recommended.uniqueId AS ID, recommended.signature AS signature, recommended.videoCount AS nbVideos, recommended.followerCount as followers, recommenderLabel, recommenderInfo
ORDER BY nbTimesRecommended DESC, followers DESC
LIMIT $top
"""
result_data = graph.run(query, top=100).to_data_frame()
result_data.head()

,nbTimesRecommended,ID,signature,nbVideos,followers,recommenderLabel,recommenderInfo
0,151,maliciadorable,Insta : Maliciadorable â¤´ï¸ğŸ¤³\nğŸ’Œ maliciaetsalva@p...,851.0,3000000.0,[user],"[thememehub.v2, edxraya, 20minutesonline, cush..."
1,149,nicoenvrai,Demandes Pro : nicolas@artistikprod.com\nEn sp...,598.0,1200000.0,[user],"[ukraine_.saveukraine, edxraya, 20minutesonlin..."
2,148,celinedept,Go follow my insta ğŸ‘†ğŸ¼\nğŸ“© cemi@fantube.me\nBelg...,1119.0,12400000.0,[user],"[d.frroku, geybn, mayor_league, navoiteam, aln..."
3,142,badfifii,ğˆğğ’ğ“ğ€ğ†ğ‘ğ€ğŒ: @badfifii\nğŸ“© fiona@tayaragency.com,1129.0,1100000.0,[user],"[elifbsk, edxraya, cush_push, stayscrappy, joh..."
4,141,7futsal,Everything Futsal âš½\nNew YouTube Video\nCLICK ...,2006.0,2200000.0,[user],"[ukraine_.saveukraine, edxraya, cush_push, sta..."

Count how many times a videos were recommended by users and vice versa.

In [11]:
query = """
MATCH p = (u:user)<-[:recommends]-(v:video)
RETURN count(p) AS count
"""
result_data = graph.run(query).to_data_frame()
result_data.head()

   count
0      0

Get how many times videos were recommended by videos.

In [12]:
query = """
MATCH p = (recommended:video)<-[:recommends]-(recommender:video)
RETURN count(p) AS count
"""
result_data = graph.run(query).to_data_frame()
result_data.head()

   count
0  37165

Get how many times users were recommended by users.

In [13]:
query = """
MATCH p = (recommended:user)<-[:recommends]-(recommender:user)
RETURN count(p) AS count
"""
result_data = graph.run(query).to_data_frame()
result_data.head()

    count
0  191224

Get the most recommended videos and see whether the authors were ever recommended.

In [14]:
query = """
// get the most recommended videos
MATCH (recommended:video)<-[:recommends]-()
WITH recommended, count(*) AS nbTimesVidRec
ORDER BY nbTimesVidRec DESC LIMIT $top

// get the authors of these videos
MATCH (u:user)-[:author]->(recommended)
WITH u, recommended.desc AS desc, nbTimesVidRec

// count how many times the authors have been recommended
OPTIONAL MATCH p = (u)<-[:recommends]-()
WITH u, desc, nbTimesVidRec, count(p) AS nbTimesAuthorRec
RETURN nbTimesVidRec, desc, u.uniqueId AS id, u.signature AS signature, u.followerCount AS followers, nbTimesAuthorRec
ORDER BY nbTimesVidRec DESC, nbTimesAuthorRec DESC
"""
result_data = graph.run(query, top=100).to_data_frame()
result_data.head()

,nbTimesVidRec,desc,id,signature,followers,nbTimesAuthorRec
0,14,Too early for easter chocolate?,tikbics,ğŸŒŸFOLLOWğŸŒŸ if you love chocolate ğŸ¤¤ğŸ«,52800,1
1,13,Who else cleans out there exhaust? ğŸ˜‚#foryou #f...,tobyies,Car life ğŸš—,36900,0
2,12,Up there with one of the worst messages to rec...,lucinda,âœŒğŸ¼& ğŸ˜š,721300,1
3,12,Ready when you are prince!ğŸ£ğŸ¤#9monthspregnant #...,hugo_hossam,ğŸ‡¹ğŸ‡¿ğŸ‡´ğŸ‡²\nHossam.ebony@outlook.com âœ‰ï¸\nLabour Stor...,205600,0
4,12,Teaching her patience ğŸ˜‚ğŸ˜‚ğŸ˜‚ @jlo1017 #fyp #Screa...,mamalindy,"ğŸ’• fun, love and laughter ğŸ’•\nLindy@select.co",8900000,0

Get the most recommended users and see how many of their videos were recommended (`nbVideosRec`) and how many times a video of their's was recommended (`nbTotalRec`).

In [15]:
query = """
// get the most recommended users
MATCH (recommended:user)<-[:recommends]-()
WITH recommended, count(*) AS nbTimesUserRec
ORDER BY nbTimesUserRec DESC LIMIT $top

// get the videos of these users
MATCH (v:video)<-[:author]-(recommended)
WITH v, recommended, nbTimesUserRec

// count how many of the user's videos have been recommended (size(collect(...))), and how many times they have been 
// recommended in total (count(p))
OPTIONAL MATCH p = (v)<-[:recommends]-()
WITH recommended, nbTimesUserRec, count(p) AS nbTotalRec, 
size(
    collect(DISTINCT
    CASE 
        WHEN p IS NOT null THEN v.id
    END)) AS nbVideosRec
RETURN nbTimesUserRec, recommended.uniqueId AS id, recommended.signature AS signature, 
recommended.followerCount AS followers, nbTotalRec, nbVideosRec
ORDER BY nbTimesUserRec DESC, nbTotalRec DESC
"""
result_data = graph.run(query, top=100).to_data_frame()
result_data.head()

,nbTimesUserRec,id,signature,followers,nbTotalRec,nbVideosRec
0,151,maliciadorable,Insta : Maliciadorable â¤´ï¸ğŸ¤³\nğŸ’Œ maliciaetsalva@p...,3000000,10,6
1,149,nicoenvrai,Demandes Pro : nicolas@artistikprod.com\nEn sp...,1200000,44,18
2,148,celinedept,Go follow my insta ğŸ‘†ğŸ¼\nğŸ“© cemi@fantube.me\nBelg...,12400000,14,8
3,142,badfifii,ğˆğğ’ğ“ğ€ğ†ğ‘ğ€ğŒ: @badfifii\nğŸ“© fiona@tayaragency.com,1100000,0,0
4,141,7futsal,Everything Futsal âš½\nNew YouTube Video\nCLICK ...,2200000,16,9

# Weakly connected components

## Whole graph

Create a graph projection for the enitre graph.

In [16]:
query = """
// create a native projection of the whole graph
CALL gds.graph.project($name, '*', '*')
YIELD *
"""
graph.run(query, name='whole_graph')

 nodeProjection                          | relationshipProjection                                                                 | graphName   | nodeCount | relationshipCount | projectMillis
-----------------------------------------|----------------------------------------------------------------------------------------|-------------|-----------|-------------------|---------------
 {__ALL__: {label: '*', properties: {}}} | {__ALL__: {orientation: 'NATURAL', aggregation: 'DEFAULT', type: '*', properties: {}}} | whole_graph |    427275 |           1133997 |          2199

Get the 15 largest weakly connected components.

In [17]:
query = """
CALL gds.wcc.stream($name) YIELD nodeId, componentId
RETURN componentId, count(*) AS size
ORDER BY size DESC LIMIT $limit
"""
result_data = graph.run(query, name='whole_graph', limit=15).to_data_frame()
result_data

    componentId    size
0             0  426987
1         10815      57
2          3805      20
3          5787      10
4           976       8
5         22774       3
6         25532       3
7         44853       2
8         44815       2
9         44848       2
10        44822       2
11        44788       2
12        44824       2
13        44818       1
14        44817       1

## Videos

Create a graph projection for the videos and `recommends` relationship.

In [18]:
query = """
CALL gds.graph.project(
    $name, 
    'video', 
    'recommends'
)
YIELD *
"""
graph.run(query, name='video_recommendations')

 nodeProjection                            | relationshipProjection                                                                             | graphName             | nodeCount | relationshipCount | projectMillis
-------------------------------------------|----------------------------------------------------------------------------------------------------|-----------------------|-----------|-------------------|---------------
 {video: {label: 'video', properties: {}}} | {recommends: {orientation: 'NATURAL', aggregation: 'DEFAULT', type: 'recommends', properties: {}}} | video_recommendations |    137319 |             37165 |          1124

Get the 15 largest weakly connected components.

In [19]:
query = """
CALL gds.wcc.stream($name) YIELD nodeId, componentId
RETURN componentId, count(*) AS size
ORDER BY size DESC LIMIT $limit
"""
result_data = graph.run(query, name='video_recommendations', limit=15).to_data_frame()
result_data

    componentId   size
0         82664  22800
1         84793      7
2         84960      2
3         83601      2
4         83958      2
5         84939      2
6         82975      2
7         83175      2
8         83336      2
9         83557      2
10        83922      2
11        83945      2
12        83653      2
13        84932      2
14        85101      2

For each wcc, get the number of times Ukraine or Russia are mentioned in the video description or sticker text, the tags of the video, or the songs. The tags and songs can have duplicates, for example, if 2 videos in a component have the same tag, the tag would be counted 2 times.

In [20]:
query = """
// get the wcc's 
CALL gds.wcc.stream($name) YIELD nodeId, componentId
WITH componentId,  count(*) AS size, collect(gds.util.asNode(nodeId)) AS videos

// count the number of times the videos mention Ukraine or Russia
WITH componentId, size, videos,
size(
    [vid IN videos WHERE (
        vid.desc =~ $regex OR
        vid.stickerText =~ $regex        
    )]
) AS countForVids

// use unwind so the videos can be read as rows and used for matching
UNWIND videos AS v
WITH componentId, size, videos, v, countForVids

// count the tags related to the videos (if there are any) that mention Ukraine or Russia
OPTIONAL MATCH (t:tag)--(v)
WHERE t.title =~ $regex OR t.desc =~ $regex OR t.id =~ $regex OR t.splitTitle =~ $regex
WITH componentId, size, videos, v, countForVids, size(collect(t)) AS countForTags

// count the songs related to the videos (if there are any) that mention Ukraine or Russia
OPTIONAL MATCH (s:song)--(v)
WHERE s.id =~ $regex OR s.title =~ $regex OR s.album =~ $regex
WITH componentId, size, countForVids, countForTags, size(collect(s)) AS countForSongs

// the counts for the tags and songs are split over the different videos in the components (because UNWIND was used 
// to read the list of videos as rows), sum them to get the total count for the component
WITH componentId, size, countForVids, sum(countForTags) AS totalCountForTags, sum(countForSongs) AS totalCountForSongs

RETURN componentId, size, countForVids + totalCountForTags + totalCountForSongs AS totalCount, 
countForVids, totalCountForTags, totalCountForSongs
ORDER BY size DESC, totalCount DESC, countForVids DESC, totalCountForTags DESC, totalCountForSongs DESC LIMIT $limit
"""
result_data = graph.run(query, name='video_recommendations', regex="(?i).*ukrain.*|.*russia.*", limit=100).to_data_frame()
result_data

,componentId,size,totalCount,countForVids,totalCountForTags,totalCountForSongs
0,82664,22800,769,656,97,16
1,84793,7,0,0,0,0
2,83336,2,5,1,4,0
3,85101,2,5,1,4,0
4,83557,2,5,1,4,0
...,...,...,...,...,...,...
95,25640,1,10,1,9,0
96,66615,1,10,1,9,0
97,85264,1,10,1,9,0
98,8329,1,10,1,9,0
99,13935,1,10,1,9,0

Count how many components have a size equal to 1.

In [61]:
query = """
CALL gds.wcc.stream($name) YIELD nodeId, componentId
WITH componentId,  count(*) AS size
WHERE size = 1

RETURN count(componentId) AS nbOfDisconnectedVids
"""

result_data = graph.run(query, name='video_recommendations').to_data_frame()
result_data

   nbOfDisconnectedVids
0                114474

In only 548 disconnected videos tags of Ukraine or Russia were present, but there were about 30 of those per video.

In [62]:
query = """
MATCH (v:video)
WHERE NOT (v:video) -[:recommends]- ()
WITH v

OPTIONAL MATCH (v) -- (t:tag)
WHERE t.title =~ $regex OR t.desc =~ $regex OR t.id =~ $regex OR t.splitTitle =~ $regex
WITH size(collect(distinct(t))) AS countForTags_unique, count(distinct(v)) AS disconnectedVids,
size(collect(t)) AS countForTags

RETURN countForTags, countForTags_unique, disconnectedVids
"""

result_data = graph.run(query, name='video_recommendations', regex = "(?i).*ukrain.*|.*russia.*").to_data_frame()
result_data

   countForTags  countForTags_unique  disconnectedVids
0         16043                  548            114474

Count how many of the disconnected videos do not have tags related to Ukraine or Russia.

In [63]:
query = """
MATCH (u:video)
WHERE NOT (u:video) -[:recommends]- ()
WITH u

OPTIONAL MATCH (u) -- (k:tag)
WHERE NOT (k.title =~ $regex OR k.desc =~ $regex OR k.id =~ $regex OR k.splitTitle =~ $regex)

RETURN size(collect(distinct(k))) AS nonUkrTaggedVideos
"""

result_data = graph.run(query, name='video_recommendations', regex = "(?i).*ukrain.*|.*russia.*").to_data_frame()
result_data

   nonUkrTaggedVideos
0               19664

Count how many videos do not have recommendations or tags.

In [64]:
query = """
MATCH (u:video)
WHERE NOT (u:video) -[:recommends]- ()
WITH u

MATCH (u)
WHERE NOT (u) -[:has]- ()
WITH u

RETURN count(distinct(u)) AS NoTagsNoRecs
"""

result_data = graph.run(query, graph = 'video_recommendations').to_data_frame()
result_data

   NoTagsNoRecs
0          2018

Get info about the users who have the largest number of videos that are never recommended.

In [65]:
query = """
MATCH (u:user) -[:author]- (v:video)
WHERE NOT (v:video) -[:recommends]-> ()
OPTIONAL MATCH (v:video) -- (t:tag)
WHERE t.title =~ $regex OR t.desc =~ $regex OR t.id =~ $regex OR t.splitTitle =~ $regex

RETURN distinct(u.id), u.followerCount AS followers, u.diggCount AS likes, u.videoCount AS vidsMade,
count(distinct(v)) AS notRecommendedVids, size(collect(distinct(t))) AS countForTags
ORDER BY notRecommendedVids DESC
LIMIT $limit
"""

result_data = graph.run(query, graph = 'video_recommendations', 
                        limit = 25, regex = "(?i).*ukrain.*|.*russia.*").to_data_frame()
result_data

,(u.id),followers,likes,vidsMade,notRecommendedVids,countForTags
0,ken...demarteau,2800000,16500,2640,93,0
1,d_totti,3200000,5175,447,91,0
2,simonlousberg,1400000,25200,1284,87,2
3,brutofficiel,1600000,413,1533,80,2
4,cbsmornings,801800,33,1475,78,10
5,espn,23600000,3353,6109,76,0
6,raphiquii_,114900,656,3204,70,0
7,mimiermakeup,15100000,11600,674,66,0
8,thieunien.tintuc,903700,14600,295,64,2
9,themsinstem,43800,1387,339,64,28
10,skynews,1100000,35,738,64,9
11,de_buurtpolitie_fan,89700,948,771,64,0
12,javad2024,1800000,9068,2001,62,0
13,izzy_varane_2,1100000,6152,379,61,0
14,cbsnews,2500000,21,3706,60,2
15,timonthegram,834900,7811,2698,60,3
16,ideatimes,4700000,250,4158,60,0
17,gloss,6500000,504,2569,58,0
18,quicktakenews,189800,136,678,57,5
19,mrkrul,371400,4677,555,56,0
20,fesch6,4500000,73500,1513,55,2
21,visitukraine_,35900,1504,110,55,14
22,baderalsafar,11700000,6455,4831,53,0
23,melmelmeliciousss,62700,1942,489,52,0
24,sabri_ayoub,16900000,15100,1698,51,0

Get info on the authors of videos that do not recommend videos and have tags related to Ukraine or Russia.

In [71]:
query = """
MATCH (u:user) -[:author]- (v:video)
WHERE (NOT (v:video) -[:recommends]-> ()) AND (u.videoCount > 0)
WITH distinct(u.id) AS ids, u.followerCount AS followers, u.diggCount AS likes, u.videoCount AS vidsMade,
count(distinct(v)) AS notRecommendedVids, v AS videos

OPTIONAL MATCH (videos) -- (t:tag)
WHERE t.title =~ $regex1

RETURN ids, followers, likes, vidsMade, count(distinct(videos)) AS notRecommendedVids, 
size(collect(distinct(t))) AS countForTags_war

ORDER BY notRecommendedVids DESC
LIMIT $limit
"""
regex_1 = "(?i).*ukrain.*|.*russia.*"
regex_2 = "(?i).*war.*|Z|.*putin.*"
result_data = graph.run(query, graph = 'video_recommendations', limit = 25, regex1 = regex_1).to_data_frame()

Calculate what percentage of their videos was not recommended.

In [72]:
result_data["percentage"] = result_data["notRecommendedVids"]/result_data["vidsMade"]
result_data.sort_values(by="percentage", ascending=False)

,ids,followers,likes,vidsMade,notRecommendedVids,countForTags_war,percentage
21,visitukraine_,35900,1504,110,55,14,0.500000
9,thieunien.tintuc,903700,14600,295,64,2,0.216949
1,d_totti,3200000,5175,447,91,0,0.203579
10,themsinstem,43800,1387,339,64,28,0.188791
13,izzy_varane_2,1100000,6152,379,61,0,0.160950
24,franceinfo,281800,16,476,51,2,0.107143
23,melmelmeliciousss,62700,1942,489,52,0,0.106339
19,mrkrul,371400,4677,555,56,0,0.100901
7,mimiermakeup,15100000,11600,674,66,0,0.097923
11,skynews,1100000,35,738,64,9,0.086721
18,quicktakenews,189800,136,678,57,5,0.084071
8,de_buurtpolitie_fan,89700,948,771,64,0,0.083009
2,simonlousberg,1400000,25200,1284,87,2,0.067757
4,cbsmornings,801800,33,1475,78,10,0.052881
3,brutofficiel,1600000,413,1533,80,2,0.052185
20,fesch6,4500000,73500,1513,55,2,0.036352
0,ken...demarteau,2800000,16500,2640,93,0,0.035227
12,javad2024,1800000,9068,2001,62,0,0.030985
17,gloss,6500000,504,2569,58,0,0.022577
16,timonthegram,834900,7811,2698,60,3,0.022239
6,raphiquii_,114900,656,3204,70,0,0.021848
14,cbsnews,2500000,21,3706,60,2,0.016190
15,ideatimes,4700000,250,4158,60,0,0.014430
5,espn,23600000,3353,6109,76,0,0.012441
22,baderalsafar,11700000,6455,4831,53,0,0.010971

In [73]:
query = """
MATCH (u:user) -[:author]- (v:video)
WHERE NOT (v:video) -[:recommends]-> ()
OPTIONAL MATCH (v:video) -- (t:tag)
WHERE t.title =~ $regex1 OR t.splitTitle =~ $regex1

RETURN distinct(u.id) AS user, u.followerCount AS followers, u.diggCount AS likes, u.videoCount AS vidsMade,
count(distinct(v)) AS notRecommendedVids, count(distinct(t.title)) AS tags_war

ORDER BY tags_war
LIMIT $limit
"""
regex_1 = "(?i).*ukrain.*|.*russia.*"
regex_2 = "(?i)Z|.*putin.*"
result_data = graph.run(query, graph = 'video_recommendations', limit = 50, regex1 = regex_2).to_data_frame()
result_data

,user,followers,likes,vidsMade,notRecommendedVids,tags_war
0,morena.loche,10300,15900,48,28,0
1,kingofharlem,63300,73,96,1,0
2,xacilvo,1114,8821,482,1,0
3,waythis.m,270,105,16,16,0
4,nata_lihka_,526,15500,135,1,0
5,val._.ortiz._,1395,59100,34,1,0
6,istandwithukraine39,10300,5,374,31,0
7,ukraine_best_3,98,5,15,15,0
8,anton_petrus,2953,163,17,1,0
9,squervy,1166,3281,219,1,0
10,wypalilemsie,3057,4833,16,1,0
11,teamsasharescue,112700,68700,1220,1,0
12,tiinyjinnie,6060,18100,447,1,0
13,royal._.dasiy,159,3154,30,1,0
14,only_grimes,6674,13600,224,1,0
15,piffy_di,18100,3199,98,3,0
16,corqsewifey,32000,58000,188,31,0
17,mekkadabaddestvu,2854,21500,137,1,0
18,tsarinskaya88,1061,4782,63,1,0
19,ibukisruki,1780,111600,9,1,0
20,mike_literus690,72000,30500,537,1,0
21,tamarastohlova,1545,399,121,1,0
22,zesshkaa,387,599,68,1,0
23,sssasha_sashaaa,3057,8297,171,32,0
24,prosto_gruzin,6902,978,40,21,0
25,ll.zehra.ll_,247,13700,42,3,0
26,sofialorrnn,69100,320,76,1,0
27,jeeeepppppeee,7356,12200,554,1,0
28,qirqovul_house,31000,1245,205,1,0
29,sofiyasoniaaa,1596,73900,111,27,0
30,ucraina.notizie,113,453,3,1,0
31,shiftok.tr,52,70,9,1,0
32,.giasgarden,3554,19200,149,1,0
33,xr_madam,3292,73000,109,1,0
34,marina54262,5102,1637,404,1,0
35,livinwitlue_,1477,115300,47,1,0
36,zefiirrrka,48,34900,10,1,0
37,balahmeeeey,1455,45300,135,30,0
38,crime_tok2006,4868,2876,45,1,0
39,balkan.tiktokers1,746,602,24,1,0
40,violetta.vargaalexandra5,329,4679,82,1,0
41,ukrainians_of_sa,4642,303,62,1,0
42,rxmdom.tipzz,57,147,6,1,0
43,russia_stop2,10,31,1,1,0
44,h.e.l.p.me..from.putin,187,159,4,4,0
45,foot_lettuce86backup,1455,3478,121,30,0
46,akmaralmk,168,24500,126,1,0
47,yellow.bumblebees0,64,50,23,1,0
48,anuchenka,61,37300,40,1,0
49,trovonftdijon,1234,1196,23,1,0

## Users

Create a graph projection for the users and `recommends` relationship.

In [21]:
query = """
CALL gds.graph.project(
    $name, 
    'user', 
    'recommends'
)
YIELD *
"""
graph.run(query, name='user_recommendations')

 nodeProjection                          | relationshipProjection                                                                             | graphName            | nodeCount | relationshipCount | projectMillis
-----------------------------------------|----------------------------------------------------------------------------------------------------|----------------------|-----------|-------------------|---------------
 {user: {label: 'user', properties: {}}} | {recommends: {orientation: 'NATURAL', aggregation: 'DEFAULT', type: 'recommends', properties: {}}} | user_recommendations |    127224 |            191224 |           625

Get the 100 largest weakly connected components.

In [69]:
query = """
CALL gds.wcc.stream($name) YIELD nodeId, componentId
RETURN componentId, count(*) AS size
ORDER BY size DESC
"""
result_data = graph.run(query, name='user_recommendations').to_data_frame()
result_data

       componentId    size
0                0  109561
1               35     617
2              565     330
3             1177     112
4                1     106
...            ...     ...
10713         3953       1
10714         3954       1
10715         3956       1
10716         3957       1
10717         3958       1

[10718 rows x 2 columns]

Count how many components there are for each size - for some reason a lot of components sized 29, 30, 31.

In [70]:
x = []
i=0
for i in range(1000):
    x.append((i, len(result_data[result_data["size"]==i].value_counts())))
sorted(x, key = lambda x: x[1], reverse = True)

[(1, 10531),
 (31, 77),
 (30, 40),
 (29, 15),
 (33, 8),
 (34, 7),
 (32, 6),
 (35, 6),
 (28, 3),
 (38, 3),
 (36, 2),
 (37, 2),
 (56, 2),
 (39, 1),
 (40, 1),
 (41, 1),
 (42, 1),
 (43, 1),
 (44, 1),
 (46, 1),
 (59, 1),
 (61, 1),
 (79, 1),
 (91, 1),
 (106, 1),
 (112, 1),
 (330, 1),
 (617, 1),
 (0, 0),
 (2, 0),
 (3, 0),
 (4, 0),
 (5, 0),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 0),
 (10, 0),
 (11, 0),
 (12, 0),
 (13, 0),
 (14, 0),
 (15, 0),
 (16, 0),
 (17, 0),
 (18, 0),
 (19, 0),
 (20, 0),
 (21, 0),
 (22, 0),
 (23, 0),
 (24, 0),
 (25, 0),
 (26, 0),
 (27, 0),
 (45, 0),
 (47, 0),
 (48, 0),
 (49, 0),
 (50, 0),
 (51, 0),
 (52, 0),
 (53, 0),
 (54, 0),
 (55, 0),
 (57, 0),
 (58, 0),
 (60, 0),
 (62, 0),
 (63, 0),
 (64, 0),
 (65, 0),
 (66, 0),
 (67, 0),
 (68, 0),
 (69, 0),
 (70, 0),
 (71, 0),
 (72, 0),
 (73, 0),
 (74, 0),
 (75, 0),
 (76, 0),
 (77, 0),
 (78, 0),
 (80, 0),
 (81, 0),
 (82, 0),
 (83, 0),
 (84, 0),
 (85, 0),
 (86, 0),
 (87, 0),
 (88, 0),
 (89, 0),
 (90, 0),
 (92, 0),
 (93, 0),
 (94, 0),
 (95, 0),
 (96, 0),
 (97, 0),
 (98, 0),
 (99, 0),
 (100, 0),
 (101, 0),
 (102, 0),
 (103, 0),
 (104, 0),
 (105, 0),
 (107, 0),
 (108, 0),
 (109, 0),
 (110, 0),
 (111, 0),
 (113, 0),
 (114, 0),
 (115, 0),
 (116, 0),
 (117, 0),
 (118, 0),
 (119, 0),
 (120, 0),
 (121, 0),
 (122, 0),
 (123, 0),
 (124, 0),
 (125, 0),
 (126, 0),
 (127, 0),
 (128, 0),
 (129, 0),
 (130, 0),
 (131, 0),
 (132, 0),
 (133, 0),
 (134, 0),
 (135, 0),
 (136, 0),
 (137, 0),
 (138, 0),
 (139, 0),
 (140, 0),
 (141, 0),
 (142, 0),
 (143, 0),
 (144, 0),
 (145, 0),
 (146, 0),
 (147, 0),
 (148, 0),
 (149, 0),
 (150, 0),
 (151, 0),
 (152, 0),
 (153, 0),
 (154, 0),
 (155, 0),
 (156, 0),
 (157, 0),
 (158, 0),
 (159, 0),
 (160, 0),
 (161, 0),
 (162, 0),
 (163, 0),
 (164, 0),
 (165, 0),
 (166, 0),
 (167, 0),
 (168, 0),
 (169, 0),
 (170, 0),
 (171, 0),
 (172, 0),
 (173, 0),
 (174, 0),
 (175, 0),
 (176, 0),
 (177, 0),
 (178, 0),
 (179, 0),
 (180, 0),
 (181, 0),
 (182, 0),
 (183, 0),
 (184, 0),
 (185, 0),
 (186, 0),
 (187, 0),
 (188, 0),
 (189, 0),
 (190, 0),
 (191, 0),
 (192, 0),
 (193, 0),
 (194, 0),
 (195, 0),
 (196, 0),
 (197, 0),
 (198, 0),
 (199, 0),
 (200, 0),
 (201, 0),
 (202, 0),
 (203, 0),
 (204, 0),
 (205, 0),
 (206, 0),
 (207, 0),
 (208, 0),
 (209, 0),
 (210, 0),
 (211, 0),
 (212, 0),
 (213, 0),
 (214, 0),
 (215, 0),
 (216, 0),
 (217, 0),
 (218, 0),
 (219, 0),
 (220, 0),
 (221, 0),
 (222, 0),
 (223, 0),
 (224, 0),
 (225, 0),
 (226, 0),
 (227, 0),
 (228, 0),
 (229, 0),
 (230, 0),
 (231, 0),
 (232, 0),
 (233, 0),
 (234, 0),
 (235, 0),
 (236, 0),
 (237, 0),
 (238, 0),
 (239, 0),
 (240, 0),
 (241, 0),
 (242, 0),
 (243, 0),
 (244, 0),
 (245, 0),
 (246, 0),
 (247, 0),
 (248, 0),
 (249, 0),
 (250, 0),
 (251, 0),
 (252, 0),
 (253, 0),
 (254, 0),
 (255, 0),
 (256, 0),
 (257, 0),
 (258, 0),
 (259, 0),
 (260, 0),
 (261, 0),
 (262, 0),
 (263, 0),
 (264, 0),
 (265, 0),
 (266, 0),
 (267, 0),
 (268, 0),
 (269, 0),
 (270, 0),
 (271, 0),
 (272, 0),
 (273, 0),
 (274, 0),
 (275, 0),
 (276, 0),
 (277, 0),
 (278, 0),
 (279, 0),
 (280, 0),
 (281, 0),
 (282, 0),
 (283, 0),
 (284, 0),
 (285, 0),
 (286, 0),
 (287, 0),
 (288, 0),
 (289, 0),
 (290, 0),
 (291, 0),
 (292, 0),
 (293, 0),
 (294, 0),
 (295, 0),
 (296, 0),
 (297, 0),
 (298, 0),
 (299, 0),
 (300, 0),
 (301, 0),
 (302, 0),
 (303, 0),
 (304, 0),
 (305, 0),
 (306, 0),
 (307, 0),
 (308, 0),
 (309, 0),
 (310, 0),
 (311, 0),
 (312, 0),
 (313, 0),
 (314, 0),
 (315, 0),
 (316, 0),
 (317, 0),
 (318, 0),
 (319, 0),
 (320, 0),
 (321, 0),
 (322, 0),
 (323, 0),
 (324, 0),
 (325, 0),
 (326, 0),
 (327, 0),
 (328, 0),
 (329, 0),
 (331, 0),
 (332, 0),
 (333, 0),
 (334, 0),
 (335, 0),
 (336, 0),
 (337, 0),
 (338, 0),
 (339, 0),
 (340, 0),
 (341, 0),
 (342, 0),
 (343, 0),
 (344, 0),
 (345, 0),
 (346, 0),
 (347, 0),
 (348, 0),
 (349, 0),
 (350, 0),
 (351, 0),
 (352, 0),
 (353, 0),
 (354, 0),
 (355, 0),
 (356, 0),
 (357, 0),
 (358, 0),
 (359, 0),
 (360, 0),
 (361, 0),
 (362, 0),
 (363, 0),
 (364, 0),
 (365, 0),
 (366, 0),
 (367, 0),
 (368, 0),
 (369, 0),
 (370, 0),
 (371, 0),
 (372, 0),
 (373, 0),
 (374, 0),
 (375, 0),
 (376, 0),
 (377, 0),
 (378, 0),
 (379, 0),
 (380, 0),
 (381, 0),
 (382, 0),
 (383, 0),
 (384, 0),
 (385, 0),
 (386, 0),
 (387, 0),
 (388, 0),
 (389, 0),
 (390, 0),
 (391, 0),
 (392, 0),
 (393, 0),
 (394, 0),
 (395, 0),
 (396, 0),
 (397, 0),
 (398, 0),
 (399, 0),
 (400, 0),
 (401, 0),
 (402, 0),
 (403, 0),
 (404, 0),
 (405, 0),
 (406, 0),
 (407, 0),
 (408, 0),
 (409, 0),
 (410, 0),
 (411, 0),
 (412, 0),
 (413, 0),
 (414, 0),
 (415, 0),
 (416, 0),
 (417, 0),
 (418, 0),
 (419, 0),
 (420, 0),
 (421, 0),
 (422, 0),
 (423, 0),
 (424, 0),
 (425, 0),
 (426, 0),
 (427, 0),
 (428, 0),
 (429, 0),
 (430, 0),
 (431, 0),
 (432, 0),
 (433, 0),
 (434, 0),
 (435, 0),
 (436, 0),
 (437, 0),
 (438, 0),
 (439, 0),
 (440, 0),
 (441, 0),
 (442, 0),
 (443, 0),
 (444, 0),
 (445, 0),
 (446, 0),
 (447, 0),
 (448, 0),
 (449, 0),
 (450, 0),
 (451, 0),
 (452, 0),
 (453, 0),
 (454, 0),
 (455, 0),
 (456, 0),
 (457, 0),
 (458, 0),
 (459, 0),
 (460, 0),
 (461, 0),
 (462, 0),
 (463, 0),
 (464, 0),
 (465, 0),
 (466, 0),
 (467, 0),
 (468, 0),
 (469, 0),
 (470, 0),
 (471, 0),
 (472, 0),
 (473, 0),
 (474, 0),
 (475, 0),
 (476, 0),
 (477, 0),
 (478, 0),
 (479, 0),
 (480, 0),
 (481, 0),
 (482, 0),
 (483, 0),
 (484, 0),
 (485, 0),
 (486, 0),
 (487, 0),
 (488, 0),
 (489, 0),
 (490, 0),
 (491, 0),
 (492, 0),
 (493, 0),
 (494, 0),
 (495, 0),
 (496, 0),
 (497, 0),
 (498, 0),
 (499, 0),
 (500, 0),
 (501, 0),
 (502, 0),
 (503, 0),
 (504, 0),
 (505, 0),
 (506, 0),
 (507, 0),
 (508, 0),
 (509, 0),
 (510, 0),
 (511, 0),
 (512, 0),
 (513, 0),
 (514, 0),
 (515, 0),
 (516, 0),
 (517, 0),
 (518, 0),
 (519, 0),
 (520, 0),
 (521, 0),
 (522, 0),
 (523, 0),
 (524, 0),
 (525, 0),
 (526, 0),
 (527, 0),
 (528, 0),
 (529, 0),
 (530, 0),
 (531, 0),
 (532, 0),
 (533, 0),
 (534, 0),
 (535, 0),
 (536, 0),
 (537, 0),
 (538, 0),
 (539, 0),
 (540, 0),
 (541, 0),
 (542, 0),
 (543, 0),
 (544, 0),
 (545, 0),
 (546, 0),
 (547, 0),
 (548, 0),
 (549, 0),
 (550, 0),
 (551, 0),
 (552, 0),
 (553, 0),
 (554, 0),
 (555, 0),
 (556, 0),
 (557, 0),
 (558, 0),
 (559, 0),
 (560, 0),
 (561, 0),
 (562, 0),
 (563, 0),
 (564, 0),
 (565, 0),
 (566, 0),
 (567, 0),
 (568, 0),
 (569, 0),
 (570, 0),
 (571, 0),
 (572, 0),
 (573, 0),
 (574, 0),
 (575, 0),
 (576, 0),
 (577, 0),
 (578, 0),
 (579, 0),
 (580, 0),
 (581, 0),
 (582, 0),
 (583, 0),
 (584, 0),
 (585, 0),
 (586, 0),
 (587, 0),
 (588, 0),
 (589, 0),
 (590, 0),
 (591, 0),
 (592, 0),
 (593, 0),
 (594, 0),
 (595, 0),
 (596, 0),
 (597, 0),
 (598, 0),
 (599, 0),
 (600, 0),
 (601, 0),
 (602, 0),
 (603, 0),
 (604, 0),
 (605, 0),
 (606, 0),
 (607, 0),
 (608, 0),
 (609, 0),
 (610, 0),
 (611, 0),
 (612, 0),
 (613, 0),
 (614, 0),
 (615, 0),
 (616, 0),
 (618, 0),
 (619, 0),
 (620, 0),
 (621, 0),
 (622, 0),
 (623, 0),
 (624, 0),
 (625, 0),
 (626, 0),
 (627, 0),
 (628, 0),
 (629, 0),
 (630, 0),
 (631, 0),
 (632, 0),
 (633, 0),
 (634, 0),
 (635, 0),
 (636, 0),
 (637, 0),
 (638, 0),
 (639, 0),
 (640, 0),
 (641, 0),
 (642, 0),
 (643, 0),
 (644, 0),
 (645, 0),
 (646, 0),
 (647, 0),
 (648, 0),
 (649, 0),
 (650, 0),
 (651, 0),
 (652, 0),
 (653, 0),
 (654, 0),
 (655, 0),
 (656, 0),
 (657, 0),
 (658, 0),
 (659, 0),
 (660, 0),
 (661, 0),
 (662, 0),
 (663, 0),
 (664, 0),
 (665, 0),
 (666, 0),
 (667, 0),
 (668, 0),
 (669, 0),
 (670, 0),
 (671, 0),
 (672, 0),
 (673, 0),
 (674, 0),
 (675, 0),
 (676, 0),
 (677, 0),
 (678, 0),
 (679, 0),
 (680, 0),
 (681, 0),
 (682, 0),
 (683, 0),
 (684, 0),
 (685, 0),
 (686, 0),
 (687, 0),
 (688, 0),
 (689, 0),
 (690, 0),
 (691, 0),
 (692, 0),
 (693, 0),
 (694, 0),
 (695, 0),
 (696, 0),
 (697, 0),
 (698, 0),
 (699, 0),
 (700, 0),
 (701, 0),
 (702, 0),
 (703, 0),
 (704, 0),
 (705, 0),
 (706, 0),
 (707, 0),
 (708, 0),
 (709, 0),
 (710, 0),
 (711, 0),
 (712, 0),
 (713, 0),
 (714, 0),
 (715, 0),
 (716, 0),
 (717, 0),
 (718, 0),
 (719, 0),
 (720, 0),
 (721, 0),
 (722, 0),
 (723, 0),
 (724, 0),
 (725, 0),
 (726, 0),
 (727, 0),
 (728, 0),
 (729, 0),
 (730, 0),
 (731, 0),
 (732, 0),
 (733, 0),
 (734, 0),
 (735, 0),
 (736, 0),
 (737, 0),
 (738, 0),
 (739, 0),
 (740, 0),
 (741, 0),
 (742, 0),
 (743, 0),
 (744, 0),
 (745, 0),
 (746, 0),
 (747, 0),
 (748, 0),
 (749, 0),
 (750, 0),
 (751, 0),
 (752, 0),
 (753, 0),
 (754, 0),
 (755, 0),
 (756, 0),
 (757, 0),
 (758, 0),
 (759, 0),
 (760, 0),
 (761, 0),
 (762, 0),
 (763, 0),
 (764, 0),
 (765, 0),
 (766, 0),
 (767, 0),
 (768, 0),
 (769, 0),
 (770, 0),
 (771, 0),
 (772, 0),
 (773, 0),
 (774, 0),
 (775, 0),
 (776, 0),
 (777, 0),
 (778, 0),
 (779, 0),
 (780, 0),
 (781, 0),
 (782, 0),
 (783, 0),
 (784, 0),
 (785, 0),
 (786, 0),
 (787, 0),
 (788, 0),
 (789, 0),
 (790, 0),
 (791, 0),
 (792, 0),
 (793, 0),
 (794, 0),
 (795, 0),
 (796, 0),
 (797, 0),
 (798, 0),
 (799, 0),
 (800, 0),
 (801, 0),
 (802, 0),
 (803, 0),
 (804, 0),
 (805, 0),
 (806, 0),
 (807, 0),
 (808, 0),
 (809, 0),
 (810, 0),
 (811, 0),
 (812, 0),
 (813, 0),
 (814, 0),
 (815, 0),
 (816, 0),
 (817, 0),
 (818, 0),
 (819, 0),
 (820, 0),
 (821, 0),
 (822, 0),
 (823, 0),
 (824, 0),
 (825, 0),
 (826, 0),
 (827, 0),
 (828, 0),
 (829, 0),
 (830, 0),
 (831, 0),
 (832, 0),
 (833, 0),
 (834, 0),
 (835, 0),
 (836, 0),
 (837, 0),
 (838, 0),
 (839, 0),
 (840, 0),
 (841, 0),
 (842, 0),
 (843, 0),
 (844, 0),
 (845, 0),
 (846, 0),
 (847, 0),
 (848, 0),
 (849, 0),
 (850, 0),
 (851, 0),
 (852, 0),
 (853, 0),
 (854, 0),
 (855, 0),
 (856, 0),
 (857, 0),
 (858, 0),
 (859, 0),
 (860, 0),
 (861, 0),
 (862, 0),
 (863, 0),
 (864, 0),
 (865, 0),
 (866, 0),
 (867, 0),
 (868, 0),
 (869, 0),
 (870, 0),
 (871, 0),
 (872, 0),
 (873, 0),
 (874, 0),
 (875, 0),
 (876, 0),
 (877, 0),
 (878, 0),
 (879, 0),
 (880, 0),
 (881, 0),
 (882, 0),
 (883, 0),
 (884, 0),
 (885, 0),
 (886, 0),
 (887, 0),
 (888, 0),
 (889, 0),
 (890, 0),
 (891, 0),
 (892, 0),
 (893, 0),
 (894, 0),
 (895, 0),
 (896, 0),
 (897, 0),
 (898, 0),
 (899, 0),
 (900, 0),
 (901, 0),
 (902, 0),
 (903, 0),
 (904, 0),
 (905, 0),
 (906, 0),
 (907, 0),
 (908, 0),
 (909, 0),
 (910, 0),
 (911, 0),
 (912, 0),
 (913, 0),
 (914, 0),
 (915, 0),
 (916, 0),
 (917, 0),
 (918, 0),
 (919, 0),
 (920, 0),
 (921, 0),
 (922, 0),
 (923, 0),
 (924, 0),
 (925, 0),
 (926, 0),
 (927, 0),
 (928, 0),
 (929, 0),
 (930, 0),
 (931, 0),
 (932, 0),
 (933, 0),
 (934, 0),
 (935, 0),
 (936, 0),
 (937, 0),
 (938, 0),
 (939, 0),
 (940, 0),
 (941, 0),
 (942, 0),
 (943, 0),
 (944, 0),
 (945, 0),
 (946, 0),
 (947, 0),
 (948, 0),
 (949, 0),
 (950, 0),
 (951, 0),
 (952, 0),
 (953, 0),
 (954, 0),
 (955, 0),
 (956, 0),
 (957, 0),
 (958, 0),
 (959, 0),
 (960, 0),
 (961, 0),
 (962, 0),
 (963, 0),
 (964, 0),
 (965, 0),
 (966, 0),
 (967, 0),
 (968, 0),
 (969, 0),
 (970, 0),
 (971, 0),
 (972, 0),
 (973, 0),
 (974, 0),
 (975, 0),
 (976, 0),
 (977, 0),
 (978, 0),
 (979, 0),
 (980, 0),
 (981, 0),
 (982, 0),
 (983, 0),
 (984, 0),
 (985, 0),
 (986, 0),
 (987, 0),
 (988, 0),
 (989, 0),
 (990, 0),
 (991, 0),
 (992, 0),
 (993, 0),
 (994, 0),
 (995, 0),
 (996, 0),
 (997, 0),
 (998, 0),
 (999, 0)]

For each wcc, get the number of times Ukraine or Russia are mentioned in the user's info.

In [23]:
query = """
// get the components
CALL gds.wcc.stream($name) YIELD nodeId, componentId
WITH componentId,  count(*) AS size, collect(gds.util.asNode(nodeId)) AS nodes

// count the mentions
WITH componentId, size, 
size(
    [node IN nodes WHERE (
        node.uniqueId =~ $regex OR
        node.signature =~ $regex OR
        node.nickname =~ $regex OR
        node.id =~ $regex OR
        node.shortId =~ $regex
    )]
) AS nbMentionUkrainOrRussia

RETURN componentId, size, nbMentionUkrainOrRussia
ORDER BY nbMentionUkrainOrRussia DESC, size DESC
"""
result_data = graph.run(query, name='user_recommendations', regex=".*(?i).*ukrain.*|.*russia.*").to_data_frame()
result_data

       componentId    size  nbMentionUkrainOrRussia
0                0  109561                      727
1             1177     112                        3
2             1236      31                        3
3               35     617                        1
4              650      61                        1
...            ...     ...                      ...
10713         2382       1                        0
10714         2383       1                        0
10715         2386       1                        0
10716         2388       1                        0
10717         2389       1                        0

[10718 rows x 3 columns]

Get the users that do not recommend anyone.

In [68]:
query = """
MATCH (u:user) -[:author]- (v:video)
WHERE NOT (u:user) -[:recommends]- ()
WITH u,v

RETURN u.id, u.followerCount, u.videoCount, count(v)
LIMIT $limit
"""
result_data = graph.run(query, name = "user_recommendations", limit = 50)
result_data

 u.id                    | u.followerCount | u.videoCount | count(v)
-------------------------|-----------------|--------------|----------
 letsparkit              |          480200 |          389 |       30
 abramoconstructionsrl.1 |            3427 |           34 |       29
 ballforlife41           |           48200 |          104 |       30

# Random walks

## Videos

Random walks are performed starting at videos that mention Ukraine or Russia or for which Ukraine or Russia are mentioned in the tags or songs related to the videos. The walk travels along the `recommends` relationship to other videos. A path of boolean values is recorded for each walk, indicating whether the video at that position in the walk somehow mentions Ukraine or Russia. Only videos in the largest wcc are used, since the 2nd largest does not contain videos that mention Ukraine or Russia and all other wcc's have a size smaller than or equal to 2.

In [24]:
query = """
// get the videos in the largest wcc
CALL gds.wcc.stream($name) YIELD nodeId, componentId
WITH componentId,  count(*) AS compSize, collect(gds.util.asNode(nodeId)) AS videosLargestComp
WITH componentId, compSize, videosLargestComp
ORDER BY compSize DESC LIMIT 1

// get the users from which the random walk should start
UNWIND videosLargestComp AS v
WITH v, compSize
OPTIONAL MATCH (t:tag)--(v)
WITH v, t, compSize
OPTIONAL MATCH (s:song)--(v)
WITH v, t, s, compSize
WHERE (
        v.desc =~ $regex OR 
        v.stickerText =~ $regex
    ) OR (
        t.title =~ $regex OR 
        t.desc =~ $regex OR 
        t.id =~ $regex OR 
        t.splitTitle =~ $regex
    ) OR (
        s.id =~ $regex OR 
        s.title =~ $regex OR 
        s.album =~ $regex
    )    
WITH collect(v) AS sourceNodes, compSize

// perform the random walks
CALL gds.beta.randomWalk.stream(
  $name,
  {
  sourceNodes: sourceNodes,
  walkLength: $walkLength,
  walksPerNode: $walksPerNode
  }
) YIELD nodeIds, path
WITH nodeIds AS videoIDs, compSize
WITH videoIDs, size(videoIDs) AS pathlength, compSize
ORDER BY pathlength DESC

WITH videoIDs, pathlength, compSize

// return a boolean list for whether the video at the same position in the path 
// mentions Ukraine or Russia 

// read the videoIDs of the path as rows
UNWIND videoIDs AS videoID

// convert the IDs to nodes
WITH videoIDs, pathlength, gds.util.asNode(videoID) AS v, compSize

// if the video itself mentions Ukraine or Russia, total > 0
WITH videoIDs, pathlength, compSize, v,
CASE
    WHEN (
        v.desc =~ $regex OR 
        v.stickerText =~ $regex
    ) 
    THEN 1
    ELSE 0
END AS total

// get the tags of the video if there are any
OPTIONAL MATCH (t:tag)--(v)

// if the tags mention Ukraine or Russia, sum(countTags) > 0
WITH videoIDs, pathlength, compSize, v, total,
CASE
    WHEN (
        t.title =~ $regex OR 
        t.desc =~ $regex OR 
        t.id =~ $regex OR 
        t.splitTitle =~ $regex
    ) 
    THEN 1
    ELSE 0
END AS countTags
WITH videoIDs, pathlength, compSize, v, total + sum(countTags) AS total

// get the songs of the video if there are any
OPTIONAL MATCH (s:song)--(v)

// if the songs mention Ukraine or Russia, sum(countSongs) > 0
WITH videoIDs, pathlength, compSize, v, total,
CASE
    WHEN (
        s.id =~ $regex OR 
        s.title =~ $regex OR 
        s.album =~ $regex
    ) 
    THEN 1
    ELSE 0
END AS countSongs
WITH videoIDs, pathlength, compSize, v, total + sum(countSongs) AS total

// collect the totals per path and convert to boolean, if total > 0 then 
// either the videos, tags, or songs mention Ukraine or Russia
WITH videoIDs, pathlength, compSize,
COLLECT(
CASE
    WHEN (total > 0)
    THEN true
    ELSE false
END
) AS relatedToUkrOrRussia

RETURN videoIDs, pathlength, relatedToUkrOrRussia, compSize
"""

wLength = 15
result_data = graph.run(query, name='video_recommendations', regex='(?i).*ukrain.*|.*russia.*', 
                        walkLength=wLength, walksPerNode=100).to_data_frame()
result_data

,videoIDs,pathlength,relatedToUkrOrRussia,compSize
0,"[2433, 1951, 1960, 1964, 2570, 9069, 7699]",7,"[True, False, False, False, False, False, False]",22800
1,"[533, 1918, 1911, 1699, 2769, 8985]",6,"[True, False, False, False, False, False]",22800
2,"[611, 2657, 1631, 1629, 1918, 3860]",6,"[True, False, False, False, False, False]",22800
3,"[177, 1763, 1921, 12093, 1522, 5418]",6,"[True, False, False, False, False, False]",22800
4,"[816, 1609, 1618, 1667, 2714, 5973]",6,"[True, False, False, False, False, False]",22800
...,...,...,...,...
20315,"[5, 19205]",2,"[True, False]",22800
20316,"[5, 19499]",2,"[True, False]",22800
20317,"[5, 15262]",2,"[True, False]",22800
20318,"[5, 8373]",2,"[True, False]",22800
20319,"[5, 4217]",2,"[True, False]",22800

If the boolean path is shorter than the path of visisted video IDs, this means that at least one video was visited more than once during the walk.

In [25]:
boolPath_too_short = result_data[['pathlength','relatedToUkrOrRussia']].apply(
    lambda row: len(row['relatedToUkrOrRussia']) != row['pathlength'], axis=1)

print('paths with revisited nodes:\n')
result_data.loc[boolPath_too_short,:]

paths with revisited nodes:

Empty DataFrame
Columns: [videoIDs, pathlength, relatedToUkrOrRussia, compSize]
Index: []

For each boolean path, get the first occurence of `False`. This is the first video that did not mention Ukraine or Russia in some way. This will be used to calculate the mean number of steps along the recommendations it takes to reach a video that is not related to Ukraine or Russia (when starting from a video that does mention Ukraine or Russia). This number of steps will be refered to as the mean escape length.

In [26]:
result_data['index_first_False'] = result_data['relatedToUkrOrRussia'].apply(lambda row: get_index_first_False(row))
result_data.sort_values(by=["pathlength", "index_first_False"], ascending=False)

,videoIDs,pathlength,relatedToUkrOrRussia,compSize,index_first_False
0,"[2433, 1951, 1960, 1964, 2570, 9069, 7699]",7,"[True, False, False, False, False, False, False]",22800,1
1,"[533, 1918, 1911, 1699, 2769, 8985]",6,"[True, False, False, False, False, False]",22800,1
2,"[611, 2657, 1631, 1629, 1918, 3860]",6,"[True, False, False, False, False, False]",22800,1
3,"[177, 1763, 1921, 12093, 1522, 5418]",6,"[True, False, False, False, False, False]",22800,1
4,"[816, 1609, 1618, 1667, 2714, 5973]",6,"[True, False, False, False, False, False]",22800,1
...,...,...,...,...,...
20315,"[5, 19205]",2,"[True, False]",22800,1
20316,"[5, 19499]",2,"[True, False]",22800,1
20317,"[5, 15262]",2,"[True, False]",22800,1
20318,"[5, 8373]",2,"[True, False]",22800,1
20319,"[5, 4217]",2,"[True, False]",22800,1

If many boolean paths never contain `False` and have the maximum pathlength possible, `walkLength` should be set to a higher value, otherwise the mean escape length will seem shorter than it actually is.

In [27]:
never_False = result_data.loc[(result_data.index_first_False == result_data.pathlength) & (
result_data.pathlength == wLength), :]
print(f'\nnb rows: {len(never_False)}')
never_False

nb rows: 0

Empty DataFrame
Columns: [videoIDs, pathlength, relatedToUkrOrRussia, compSize, index_first_False]
Index: []

The number of steps that are taken before you reach a video that does not mention Ukraine or Russia is the index of the first `False` calculated earlier minus one.

In [28]:
result_data['steps_until_False'] = result_data['index_first_False'].apply(lambda row: row-1)
result_data.sort_values(by=["pathlength","index_first_False"], ascending=False)

,videoIDs,pathlength,relatedToUkrOrRussia,compSize,index_first_False,steps_until_False
0,"[2433, 1951, 1960, 1964, 2570, 9069, 7699]",7,"[True, False, False, False, False, False, False]",22800,1,0
1,"[533, 1918, 1911, 1699, 2769, 8985]",6,"[True, False, False, False, False, False]",22800,1,0
2,"[611, 2657, 1631, 1629, 1918, 3860]",6,"[True, False, False, False, False, False]",22800,1,0
3,"[177, 1763, 1921, 12093, 1522, 5418]",6,"[True, False, False, False, False, False]",22800,1,0
4,"[816, 1609, 1618, 1667, 2714, 5973]",6,"[True, False, False, False, False, False]",22800,1,0
...,...,...,...,...,...,...
20315,"[5, 19205]",2,"[True, False]",22800,1,0
20316,"[5, 19499]",2,"[True, False]",22800,1,0
20317,"[5, 15262]",2,"[True, False]",22800,1,0
20318,"[5, 8373]",2,"[True, False]",22800,1,0
20319,"[5, 4217]",2,"[True, False]",22800,1,0

In [29]:
result_data.sort_values(by=["index_first_False","pathlength"], ascending=False)

,videoIDs,pathlength,relatedToUkrOrRussia,compSize,index_first_False,steps_until_False
26,"[543, 1952, 3285, 1752, 6297]",5,"[True, True, False, False, False]",22800,2,1
157,"[543, 1952, 3593, 14762]",4,"[True, True, False, False]",22800,2,1
158,"[543, 1952, 2637, 15870]",4,"[True, True, False, False]",22800,2,1
160,"[543, 1952, 2637, 23485]",4,"[True, True, False, False]",22800,2,1
161,"[543, 1952, 3285, 3352]",4,"[True, True, False, False]",22800,2,1
...,...,...,...,...,...,...
20315,"[5, 19205]",2,"[True, False]",22800,1,0
20316,"[5, 19499]",2,"[True, False]",22800,1,0
20317,"[5, 15262]",2,"[True, False]",22800,1,0
20318,"[5, 8373]",2,"[True, False]",22800,1,0
20319,"[5, 4217]",2,"[True, False]",22800,1,0

In [30]:
max_pathlength = result_data['pathlength'].max()
min_path_length = 2
print(f'maximum pathlength found:       {max_pathlength}')
print(f'minimum pathlength considered:  {min_path_length}\n')

steps_taken_until_False = result_data.loc[result_data['pathlength'] >= min_path_length, 'steps_until_False']
print(f'min nb of steps until False:    {steps_taken_until_False.min():.0f}')
print(f'avg nb of steps until False:    {steps_taken_until_False.mean():.5f}')
print(f'median nb of steps until False: {steps_taken_until_False.median():.0f}')
print(f'max nb of steps until False:    {steps_taken_until_False.max():.0f}')

maximum pathlength found:       7
minimum pathlength considered:  2

min nb of steps until False:    0
avg nb of steps until False:    0.00487
median nb of steps until False: 0
max nb of steps until False:    1

In [31]:
nb = len(result_data.loc[result_data['steps_until_False'] > 1, :])
print(f'nb of walks with a "nb of steps until False" greater than 1: {nb}')

nb of walks with a "nb of steps until False" greater than 1: 0

In [32]:
unique_paths = result_data['videoIDs'].apply(lambda row: str(row))
print(f'nb of unique paths: {len(set(unique_paths.values))}')
print(f'total nb of paths:  {len(result_data)}')

nb of unique paths: 20320
total nb of paths:  20320

### Closer look at paths with longer escape length

Paths where at least the first 2 nodes are related to Ukraine or Russia.

In [33]:
result_data.loc[result_data['steps_until_False'] == 1, :]

,videoIDs,pathlength,relatedToUkrOrRussia,compSize,index_first_False,steps_until_False
26,"[543, 1952, 3285, 1752, 6297]",5,"[True, True, False, False, False]",22800,2,1
157,"[543, 1952, 3593, 14762]",4,"[True, True, False, False]",22800,2,1
158,"[543, 1952, 2637, 15870]",4,"[True, True, False, False]",22800,2,1
160,"[543, 1952, 2637, 23485]",4,"[True, True, False, False]",22800,2,1
161,"[543, 1952, 3285, 3352]",4,"[True, True, False, False]",22800,2,1
...,...,...,...,...,...,...
19203,"[211, 2011]",2,"[True, True]",22800,2,1
19847,"[35, 19206]",2,"[True, True]",22800,2,1
19858,"[40, 4493]",2,"[True, True]",22800,2,1
19990,"[10, 7610]",2,"[True, True]",22800,2,1
20039,"[10, 962]",2,"[True, True]",22800,2,1

Get the paths.

In [34]:
t = result_data.loc[result_data['steps_until_False'] == 1, :]
paths_of_interest = list(t["videoIDs"].values)
print(paths_of_interest)

[[543, 1952, 3285, 1752, 6297], [543, 1952, 3593, 14762], [543, 1952, 2637, 15870], [543, 1952, 2637, 23485], [543, 1952, 3285, 3352], [543, 1952, 2637, 8267], [543, 1952, 3285, 6285], [170, 269, 2547, 9380], [253, 1952, 3593, 14762], [253, 1952, 7032], [543, 1952, 12102], [543, 1952, 7032], [543, 1952, 3472], [259, 1968, 10577], [642, 1968, 10577], [642, 1968, 24226], [642, 1968, 15478], [152, 361, 20013], [19, 6531, 17650], [352, 12866, 21289], [170, 269, 4145], [396, 1968, 20115], [396, 1968, 14054], [396, 1968, 15478], [396, 1968, 24226], [396, 1968, 10577], [1397, 1952, 12102], [251, 1940, 17932], [53, 24118], [114, 10085], [27, 6999], [31, 12850], [3792, 2737], [1, 18761], [1, 3148], [192, 12988], [2449, 23061], [90, 12595], [51, 12816], [94, 14114], [1397, 8876], [966, 20831], [963, 16051], [181, 14165], [959, 8450], [960, 962], [921, 14165], [18, 2441], [14, 962], [47, 19206], [171, 10599], [45, 15939], [47, 12300], [368, 962], [844, 6177], [87, 18987], [87, 22271], [841, 14717], [86, 20622], [84, 2737], [43, 1010], [158, 5329], [356, 24142], [82, 4719], [353, 5548], [352, 8506], [349, 11529], [736, 2869], [153, 9156], [66, 12782], [629, 2737], [630, 20519], [66, 19065], [141, 17549], [623, 6505], [63, 6505], [135, 23563], [256, 12850], [253, 3687], [59, 6802], [498, 12782], [124, 23721], [239, 1010], [235, 7587], [120, 5735], [120, 9360], [120, 21242], [30, 9342], [57, 9304], [57, 6439], [227, 21425], [456, 2737], [118, 6548], [216, 14555], [211, 2011], [35, 19206], [40, 4493], [10, 7610], [10, 962]]

Get all the nodes on these paths.

In [35]:
query = """
WITH $paths AS paths
UNWIND paths AS path
UNWIND path AS nodeId
RETURN gds.util.asNode(nodeId)
"""

result_data = graph.run(query, paths=paths_of_interest).to_data_frame()
result_data

                               gds.util.asNode(nodeId)
0    {'shareEnabled': 1, 'showNotPass': 0, 'private...
1    {'shareEnabled': 1, 'showNotPass': 0, 'private...
2    {'shareEnabled': 1, 'showNotPass': 0, 'private...
3    {'shareEnabled': 1, 'showNotPass': 0, 'private...
4    {'shareEnabled': 1, 'showNotPass': 0, 'private...
..                                                 ...
231  {'effectStickers': 'Green Screen', 'shareEnabl...
232  {'shareEnabled': 1, 'showNotPass': 0, 'private...
233  {'shareEnabled': 1, 'showNotPass': 0, 'private...
234  {'shareEnabled': 1, 'showNotPass': 0, 'private...
235  {'shareEnabled': 1, 'showNotPass': 0, 'private...

[236 rows x 1 columns]

## Users

Random walks are performed starting at users that mention Ukraine or Russia or for which Ukraine or Russia are mentioned in the videos of the user, or in the tags and songs related to these videos. The walk travels along the `recommends` relationship to other users. A path of boolean values is recorded for each walk, indicating whether the user at that position in the walk somehow mentions Ukraine or Russia. Due to the large number of source nodes that is found, a random samlpe is selected.

In [36]:
query = """
// do random walks starting at users who mention Ukraine or Russia, or whos videos or the related tags and songs mention
// Ukraine or Russia
// get the users from which to start walking
MATCH (u:user)--(v:video)
WITH u, v
OPTIONAL MATCH (t:tag)--(v)
WITH u, v, t
OPTIONAL MATCH (s:song)--(v)
WITH u, v, t, s
WHERE (
        v.desc =~ $regex OR 
        v.stickerText =~ $regex
    ) OR (
        t.title =~ $regex OR 
        t.desc =~ $regex OR 
        t.id =~ $regex OR 
        t.splitTitle =~ $regex OR
        toLower(t.title) IN $tags        
    ) OR (
        s.id =~ $regex OR 
        s.title =~ $regex OR 
        s.album =~ $regex
    ) OR (
        u.uniqueId =~ $regex OR
        u.signature =~ $regex OR
        u.nickname =~ $regex OR
        u.id =~ $regex OR
        u.shortId =~ $regex
    )
    
// randomly select a subset of nodes, to reduce computation time 
WITH u
WHERE rand() <= $p
WITH COLLECT(u) AS sourceNodes
WITH sourceNodes, size(sourceNodes) AS nbSourceNodes

CALL gds.beta.randomWalk.stream(
  $name,
  {
  sourceNodes: sourceNodes,
  walkLength: $walkLength,
  walksPerNode: $walksPerNode,
  returnFactor: $returnFactor
  }
) YIELD nodeIds, path
WITH nodeIds AS userIDs, nbSourceNodes
WITH userIDs, nbSourceNodes

WITH userIDs, nbSourceNodes


// return a list with True and False for whether the user at the same position in the path is related
// to Ukraine or Russia 

// read the elements of the list as rows
UNWIND userIDs AS userID
// convert the IDs to nodes
WITH userIDs, gds.util.asNode(userID) AS u, nbSourceNodes

// if the user itself is related to Ukraine or Russia, total > 0
WITH userIDs, u, nbSourceNodes,
CASE
    WHEN (
        u.uniqueId =~ $regex OR
        u.signature =~ $regex OR
        u.nickname =~ $regex OR
        u.id =~ $regex OR
        u.shortId =~ $regex
    ) 
    THEN 1
    ELSE 0
END AS total

// get the videos
OPTIONAL MATCH (v:video)--(u)
// if the videos are related to Ukraine or Russia, sum(countVids) > 0
WITH userIDs, u, v, nbSourceNodes, total,
CASE
    WHEN (
        v.desc =~ $regex OR 
        v.stickerText =~ $regex
    ) 
    THEN 1
    ELSE 0
END AS countVids
WITH userIDs, u, v, nbSourceNodes, total, countVids

// get the tags
OPTIONAL MATCH (t:tag)--(v)
// if the tags are related to Ukraine or Russia, sum(countTags) > 0
WITH userIDs, u, v, nbSourceNodes, total, countVids,
CASE
    WHEN (
        t.title =~ $regex OR 
        t.desc =~ $regex OR 
        t.id =~ $regex OR 
        t.splitTitle =~ $regex OR
        toLower(t.title) IN $tags 
    ) 
    THEN 1
    ELSE 0
END AS countTags
WITH userIDs, u, v, nbSourceNodes, total, countVids, countTags

// get the songs
OPTIONAL MATCH (s:song)--(v)
// if the songs are related to Ukraine or Russia, sum(countSongs) > 0
WITH userIDs, u, v, nbSourceNodes, total, countVids, countTags,
CASE
    WHEN (
        s.id =~ $regex OR 
        s.title =~ $regex OR 
        s.album =~ $regex
    ) 
    THEN 1
    ELSE 0
END AS countSongs
WITH userIDs, u, nbSourceNodes, total, countVids, countTags, countSongs

// sum all the counts to get the total per user
WITH userIDs, u, nbSourceNodes, total, 
    sum(countVids) AS sumVids, 
    sum(countTags) AS sumTags, 
    sum(countSongs) AS sumSongs
WITH userIDs, u, nbSourceNodes, total + sumVids + sumTags + sumSongs AS total

// convert to boolean
WITH userIDs, u, nbSourceNodes, 
CASE
    WHEN (total > 0)
    THEN true
    ELSE false
END AS boolInd

// collect the boolean values per path
WITH userIDs, nbSourceNodes, collect(boolInd) AS relatedToUkrOrRussia
RETURN userIDs, size(userIDs) AS pathlength, relatedToUkrOrRussia, nbSourceNodes
ORDER BY pathlength DESC

"""

tags_list = ["ukraine", "russia", "ukrainewar", "ukrainerussiaconflict", "ukrainewarrussia", "supportukraine", 
             "ukrainevsrussia", "prayforukraine", "russianarmy", "z"]

wLength = 15
# the returnFactor is the tendency to revisit the last visited node, the higher this value, the lower the tendency
result_data = graph.run(query, name='user_recommendations', regex='(?i).*ukrain.*|.*russia.*', 
                        walkLength=wLength, walksPerNode=5, p=0.5, tags=tags_list, returnFactor=2).to_data_frame()
result_data

,userIDs,pathlength,relatedToUkrOrRussia,nbSourceNodes
0,"[137795, 197194, 137381, 137330, 154346, 13853...",9,"[True, False, True, True, False, True, True, F...",28917
1,"[151499, 154348, 154349, 153284, 183592, 16723...",9,"[True, False, False, True, False, False, True,...",28917
2,"[153282, 192276, 151501, 157324, 157914, 15149...",8,"[True, False, True, False, False, True, False,...",28917
3,"[137916, 157780, 154108, 161241, 199051, 18806...",8,"[True, False, False, False, True, False, True,...",28917
4,"[137320, 153233, 160260, 177939, 191403, 16456...",8,"[True, True, False, False, False, False, False...",28917
...,...,...,...,...
3993,"[138379, 202290]",2,"[True, False]",28917
3994,"[138379, 153945]",2,"[True, False]",28917
3995,"[138379, 172502]",2,"[True, False]",28917
3996,"[138379, 176289]",2,"[True, False]",28917
3997,"[138379, 214581]",2,"[True, False]",28917

If the boolean path is shorter than the path of visisted user IDs, this means that at least one user was visited more than once during the walk.

In [38]:
boolPath_too_short = result_data[['pathlength','relatedToUkrOrRussia']].apply(
    lambda row: len(row['relatedToUkrOrRussia']) != row['pathlength'], axis=1)

print('paths with revisited nodes:\n')
result_data.loc[boolPath_too_short,:]

paths with revisited nodes:

,userIDs,pathlength,relatedToUkrOrRussia,nbSourceNodes
1,"[151499, 154348, 154349, 153284, 183592, 16723...",9,"[True, False, False, True, False, False, True,...",28917
6,"[137377, 192478, 137377, 137374, 187285, 17972...",7,"[True, False, True, False, False, False]",28917
14,"[151498, 154349, 154341, 151498, 199010, 252787]",6,"[True, False, False, False, True]",28917
19,"[137870, 171801, 137870, 153626, 177874, 254295]",6,"[True, False, True, False, False]",28917
24,"[137320, 153231, 161452, 153231, 155725, 232283]",6,"[True, True, True, False, True]",28917
45,"[138045, 147955, 140895, 147955, 179824]",5,"[True, False, False, False]",28917
46,"[138087, 187418, 163375, 138087, 167707]",5,"[True, False, False, False]",28917
52,"[138403, 174506, 137742, 174506, 180726]",5,"[True, False, True, False]",28917
66,"[153409, 155156, 153409, 155160, 156719]",5,"[True, False, False, False]",28917
72,"[137353, 154771, 137353, 154779, 157106]",5,"[True, False, False, False]",28917
78,"[137405, 137871, 137405, 185782, 155466]",5,"[True, True, False, False]",28917
90,"[137740, 194816, 161027, 137740, 250771]",5,"[True, True, False, False]",28917
128,"[137369, 151597, 137369, 197596]",4,"[True, True, False]",28917
219,"[138435, 199051, 138435, 176736]",4,"[True, True, False]",28917
251,"[139022, 185603, 139022, 230197]",4,"[True, False, False]",28917
254,"[139368, 157085, 139368, 163373]",4,"[True, False, False]",28917

Correct the paths where nodes were revisited.

In [43]:
result_data.loc[boolPath_too_short, 'relatedToUkrOrRussia_corrected'] = result_data.loc[
    boolPath_too_short, ['userIDs','relatedToUkrOrRussia']].apply(
    lambda row: deal_with_revisit(row), axis=1)
result_data.loc[~boolPath_too_short, 'relatedToUkrOrRussia_corrected'] = result_data.loc[
    ~boolPath_too_short, 'relatedToUkrOrRussia']
result_data.loc[boolPath_too_short,:]

,userIDs,pathlength,relatedToUkrOrRussia,nbSourceNodes,index_first_False,relatedToUkrOrRussia_corrected
1,"[151499, 154348, 154349, 153284, 183592, 16723...",9,"[True, False, False, True, False, False, True,...",28917,1,"[True, False, False, True, False, False, True,..."
6,"[137377, 192478, 137377, 137374, 187285, 17972...",7,"[True, False, True, False, False, False]",28917,1,"[True, False, True, True, False, False, False]"
14,"[151498, 154349, 154341, 151498, 199010, 252787]",6,"[True, False, False, False, True]",28917,1,"[True, False, False, True, False, True]"
19,"[137870, 171801, 137870, 153626, 177874, 254295]",6,"[True, False, True, False, False]",28917,1,"[True, False, True, True, False, False]"
24,"[137320, 153231, 161452, 153231, 155725, 232283]",6,"[True, True, True, False, True]",28917,4,"[True, True, True, True, False, True]"
45,"[138045, 147955, 140895, 147955, 179824]",5,"[True, False, False, False]",28917,1,"[True, False, False, False, False]"
46,"[138087, 187418, 163375, 138087, 167707]",5,"[True, False, False, False]",28917,1,"[True, False, False, True, False]"
52,"[138403, 174506, 137742, 174506, 180726]",5,"[True, False, True, False]",28917,1,"[True, False, True, False, False]"
66,"[153409, 155156, 153409, 155160, 156719]",5,"[True, False, False, False]",28917,1,"[True, False, True, False, False]"
72,"[137353, 154771, 137353, 154779, 157106]",5,"[True, False, False, False]",28917,1,"[True, False, True, False, False]"
78,"[137405, 137871, 137405, 185782, 155466]",5,"[True, True, False, False]",28917,3,"[True, True, True, False, False]"
90,"[137740, 194816, 161027, 137740, 250771]",5,"[True, True, False, False]",28917,2,"[True, True, False, True, False]"
128,"[137369, 151597, 137369, 197596]",4,"[True, True, False]",28917,3,"[True, True, True, False]"
219,"[138435, 199051, 138435, 176736]",4,"[True, True, False]",28917,3,"[True, True, True, False]"
251,"[139022, 185603, 139022, 230197]",4,"[True, False, False]",28917,1,"[True, False, True, False]"
254,"[139368, 157085, 139368, 163373]",4,"[True, False, False]",28917,1,"[True, False, True, False]"

For each boolean path, get the first occurence of `False`. This is the first user that did not mention Ukraine or Russia in some way. This will be used to calculate the mean number of steps along the recommendations it takes to reach a user that is not related to Ukraine or Russia (when starting from a user that does mention Ukraine or Russia). This number of steps will be refered to as the mean escape length.

In [44]:
result_data['index_first_False'] = result_data['relatedToUkrOrRussia_corrected'].apply(lambda row: get_index_first_False(row))
result_data.sort_values(by=["pathlength", "index_first_False"], ascending=False)

,userIDs,pathlength,relatedToUkrOrRussia,nbSourceNodes,index_first_False,relatedToUkrOrRussia_corrected
0,"[137795, 197194, 137381, 137330, 154346, 13853...",9,"[True, False, True, True, False, True, True, F...",28917,1,"[True, False, True, True, False, True, True, F..."
1,"[151499, 154348, 154349, 153284, 183592, 16723...",9,"[True, False, False, True, False, False, True,...",28917,1,"[True, False, False, True, False, False, True,..."
4,"[137320, 153233, 160260, 177939, 191403, 16456...",8,"[True, True, False, False, False, False, False...",28917,2,"[True, True, False, False, False, False, False..."
2,"[153282, 192276, 151501, 157324, 157914, 15149...",8,"[True, False, True, False, False, True, False,...",28917,1,"[True, False, True, False, False, True, False,..."
3,"[137916, 157780, 154108, 161241, 199051, 18806...",8,"[True, False, False, False, True, False, True,...",28917,1,"[True, False, False, False, True, False, True,..."
...,...,...,...,...,...,...
3993,"[138379, 202290]",2,"[True, False]",28917,1,"[True, False]"
3994,"[138379, 153945]",2,"[True, False]",28917,1,"[True, False]"
3995,"[138379, 172502]",2,"[True, False]",28917,1,"[True, False]"
3996,"[138379, 176289]",2,"[True, False]",28917,1,"[True, False]"
3997,"[138379, 214581]",2,"[True, False]",28917,1,"[True, False]"

If many boolean paths never contain `False` and have the maximum pathlength possible, `walkLength` should be set to a higher value, otherwise the mean escape length will seem shorter than it actually is.

In [45]:
never_False = result_data.loc[(result_data.index_first_False == result_data.pathlength) & (
result_data.pathlength == wLength), :]
print(f'\nnb rows: {len(never_False)}')
never_False

nb rows: 0

Empty DataFrame
Columns: [userIDs, pathlength, relatedToUkrOrRussia, nbSourceNodes, index_first_False, relatedToUkrOrRussia_corrected]
Index: []

The number of steps that are taken before you reach a user that does not mention Ukraine or Russia is the index of the first `False` calculated earlier minus one.

In [46]:
result_data['steps_until_False'] = result_data['index_first_False'].apply(lambda row: row-1)
result_data.sort_values(by=["pathlength","index_first_False"], ascending=False)

,userIDs,pathlength,relatedToUkrOrRussia,nbSourceNodes,index_first_False,relatedToUkrOrRussia_corrected,steps_until_False
0,"[137795, 197194, 137381, 137330, 154346, 13853...",9,"[True, False, True, True, False, True, True, F...",28917,1,"[True, False, True, True, False, True, True, F...",0
1,"[151499, 154348, 154349, 153284, 183592, 16723...",9,"[True, False, False, True, False, False, True,...",28917,1,"[True, False, False, True, False, False, True,...",0
4,"[137320, 153233, 160260, 177939, 191403, 16456...",8,"[True, True, False, False, False, False, False...",28917,2,"[True, True, False, False, False, False, False...",1
2,"[153282, 192276, 151501, 157324, 157914, 15149...",8,"[True, False, True, False, False, True, False,...",28917,1,"[True, False, True, False, False, True, False,...",0
3,"[137916, 157780, 154108, 161241, 199051, 18806...",8,"[True, False, False, False, True, False, True,...",28917,1,"[True, False, False, False, True, False, True,...",0
...,...,...,...,...,...,...,...
3993,"[138379, 202290]",2,"[True, False]",28917,1,"[True, False]",0
3994,"[138379, 153945]",2,"[True, False]",28917,1,"[True, False]",0
3995,"[138379, 172502]",2,"[True, False]",28917,1,"[True, False]",0
3996,"[138379, 176289]",2,"[True, False]",28917,1,"[True, False]",0
3997,"[138379, 214581]",2,"[True, False]",28917,1,"[True, False]",0

In [47]:
result_data.sort_values(by=["index_first_False","pathlength"], ascending=False)

,userIDs,pathlength,relatedToUkrOrRussia,nbSourceNodes,index_first_False,relatedToUkrOrRussia_corrected,steps_until_False
24,"[137320, 153231, 161452, 153231, 155725, 232283]",6,"[True, True, True, False, True]",28917,4,"[True, True, True, True, False, True]",3
17,"[153297, 174662, 138018, 162460, 180824, 240099]",6,"[True, True, True, False, False, False]",28917,3,"[True, True, True, False, False, False]",2
43,"[138025, 151497, 153282, 167235, 215828]",5,"[True, True, True, False, False]",28917,3,"[True, True, True, False, False]",2
74,"[137374, 137377, 153305, 155111, 252449]",5,"[True, True, True, False, False]",28917,3,"[True, True, True, False, False]",2
78,"[137405, 137871, 137405, 185782, 155466]",5,"[True, True, False, False]",28917,3,"[True, True, True, False, False]",2
...,...,...,...,...,...,...,...
3993,"[138379, 202290]",2,"[True, False]",28917,1,"[True, False]",0
3994,"[138379, 153945]",2,"[True, False]",28917,1,"[True, False]",0
3995,"[138379, 172502]",2,"[True, False]",28917,1,"[True, False]",0
3996,"[138379, 176289]",2,"[True, False]",28917,1,"[True, False]",0
3997,"[138379, 214581]",2,"[True, False]",28917,1,"[True, False]",0

In [48]:
max_pathlength = result_data['pathlength'].max()
min_path_length = 2
print(f'maximum pathlength found:       {max_pathlength}')
print(f'minimum pathlength considered:  {min_path_length}\n')

steps_taken_until_False = result_data.loc[result_data['pathlength'] >= min_path_length, 'steps_until_False']
print(f'min nb of steps until False:    {steps_taken_until_False.min():.0f}')
print(f'avg nb of steps until False:    {steps_taken_until_False.mean():.5f}')
print(f'median nb of steps until False: {steps_taken_until_False.median():.0f}')
print(f'max nb of steps until False:    {steps_taken_until_False.max():.0f}')

maximum pathlength found:       9
minimum pathlength considered:  2

min nb of steps until False:    0
avg nb of steps until False:    0.06603
median nb of steps until False: 0
max nb of steps until False:    3

In [49]:
nb = len(result_data.loc[result_data['steps_until_False'] > 1, :])
print(f'nb of walks with a "nb of steps until False" greater than 1: {nb}')

nb of walks with a "nb of steps until False" greater than 1: 27

In [50]:
unique_paths = result_data['userIDs'].apply(lambda row: str(row))
print(f'nb of unique paths: {len(set(unique_paths.values))}')
print(f'total nb of paths:  {len(result_data)}')

nb of unique paths: 3998
total nb of paths:  3998

### Closer look at paths with longer escape length

Paths where at least the first 3 nodes are related to Ukraine or Russia.

In [51]:
result_data.loc[result_data['steps_until_False'] > 1, :]

,userIDs,pathlength,relatedToUkrOrRussia,nbSourceNodes,index_first_False,relatedToUkrOrRussia_corrected,steps_until_False
17,"[153297, 174662, 138018, 162460, 180824, 240099]",6,"[True, True, True, False, False, False]",28917,3,"[True, True, True, False, False, False]",2
24,"[137320, 153231, 161452, 153231, 155725, 232283]",6,"[True, True, True, False, True]",28917,4,"[True, True, True, True, False, True]",3
43,"[138025, 151497, 153282, 167235, 215828]",5,"[True, True, True, False, False]",28917,3,"[True, True, True, False, False]",2
74,"[137374, 137377, 153305, 155111, 252449]",5,"[True, True, True, False, False]",28917,3,"[True, True, True, False, False]",2
78,"[137405, 137871, 137405, 185782, 155466]",5,"[True, True, False, False]",28917,3,"[True, True, True, False, False]",2
96,"[137335, 151511, 138413, 261782]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
116,"[137327, 153268, 154288, 155821]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
128,"[137369, 151597, 137369, 197596]",4,"[True, True, False]",28917,3,"[True, True, True, False]",2
137,"[137404, 154102, 138262, 181060]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
154,"[137700, 151499, 137330, 154344]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
161,"[137742, 195951, 153282, 169232]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
203,"[138262, 199051, 195390, 157009]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
219,"[138435, 199051, 138435, 176736]",4,"[True, True, False]",28917,3,"[True, True, True, False]",2
243,"[138632, 138403, 199051, 159523]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
268,"[151501, 154343, 153285, 247039]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
284,"[153407, 137330, 151498, 225518]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
292,"[153255, 137388, 153304, 263169]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
296,"[153996, 137399, 199051, 161551]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
297,"[153417, 137375, 151610, 231024]",4,"[True, True, True, False]",28917,3,"[True, True, True, False]",2
387,"[149858, 139105, 145816]",3,"[True, True, True]",28917,3,"[True, True, True]",2
688,"[138062, 151468, 171998]",3,"[True, True, True]",28917,3,"[True, True, True]",2
820,"[137343, 151537, 186869]",3,"[True, True, True]",28917,3,"[True, True, True]",2
865,"[137327, 153268, 153811]",3,"[True, True, True]",28917,3,"[True, True, True]",2
994,"[137451, 138265, 247719]",3,"[True, True, True]",28917,3,"[True, True, True]",2
1050,"[137491, 138275, 151835]",3,"[True, True, True]",28917,3,"[True, True, True]",2
1119,"[137742, 138339, 252575]",3,"[True, True, True]",28917,3,"[True, True, True]",2
1262,"[138590, 153297, 153790]",3,"[True, True, True]",28917,3,"[True, True, True]",2

Get the paths.

In [52]:
t = result_data.loc[result_data['steps_until_False'] > 1, :]
paths_of_interest = list(t["userIDs"].values)
print(paths_of_interest)

[[153297, 174662, 138018, 162460, 180824, 240099], [137320, 153231, 161452, 153231, 155725, 232283], [138025, 151497, 153282, 167235, 215828], [137374, 137377, 153305, 155111, 252449], [137405, 137871, 137405, 185782, 155466], [137335, 151511, 138413, 261782], [137327, 153268, 154288, 155821], [137369, 151597, 137369, 197596], [137404, 154102, 138262, 181060], [137700, 151499, 137330, 154344], [137742, 195951, 153282, 169232], [138262, 199051, 195390, 157009], [138435, 199051, 138435, 176736], [138632, 138403, 199051, 159523], [151501, 154343, 153285, 247039], [153407, 137330, 151498, 225518], [153255, 137388, 153304, 263169], [153996, 137399, 199051, 161551], [153417, 137375, 151610, 231024], [149858, 139105, 145816], [138062, 151468, 171998], [137343, 151537, 186869], [137327, 153268, 153811], [137451, 138265, 247719], [137491, 138275, 151835], [137742, 138339, 252575], [138590, 153297, 153790]]

Get all the nodes on these paths.

In [53]:
query = """
WITH $paths AS paths
UNWIND paths AS path
UNWIND path AS nodeId
RETURN gds.util.asNode(nodeId)
"""

result_data = graph.run(query, paths=paths_of_interest).to_data_frame()
result_data

                               gds.util.asNode(nodeId)
0    {'shortId': '', 'isADVirtual': 0, 'signature':...
1    {'shortId': '', 'isADVirtual': 0, 'avatarMediu...
2    {'shortId': '', 'isADVirtual': 0, 'signature':...
3    {'shortId': '', 'isADVirtual': 0, 'avatarMediu...
4    {'shortId': '', 'isADVirtual': 0, 'avatarMediu...
..                                                 ...
102  {'shortId': '', 'isADVirtual': 0, 'signature':...
103  {'shortId': '', 'isADVirtual': 0, 'signature':...
104  {'shortId': '', 'isADVirtual': 0, 'signature':...
105  {'shortId': '', 'isADVirtual': 0, 'signature':...
106  {'shortId': '', 'isADVirtual': 0, 'signature':...

[107 rows x 1 columns]

Make a graph projection of the nodes and the recommendations between the nodes.

In [54]:
query = """
CALL gds.graph.project.cypher(
  'longest_paths',
  'WITH $paths AS paths
   UNWIND paths AS path
   UNWIND path AS nodeId
   RETURN nodeId AS id',
   
  'WITH $paths AS paths
   UNWIND paths AS path
   WITH path
   MATCH (n:user)-[r:recommends]->(m:user) 
   WHERE id(n) IN path AND id(m) IN path
   RETURN id(n) AS source, id(m) AS target',
  
  { parameters: { paths: $paths} }
  )
YIELD
  graphName AS graph, nodeQuery, nodeCount AS nodes, relationshipQuery, relationshipCount AS rels
"""

result_data = graph.run(query, paths=paths_of_interest).to_data_frame()
result_data

,graph,nodeQuery,nodes,relationshipQuery,rels
0,longest_paths,WITH $paths AS paths\n UNWIND paths AS path\...,93,WITH $paths AS paths\n UNWIND paths AS path\...,125

Calculate centrality measures on the graph projection.

In [55]:
query = """
CALL gds.degree.stream('longest_paths')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).uniqueId AS name, score AS connections
ORDER BY connections DESC
"""
# in-degree
result_data = graph.run(query).to_data_frame()
result_data

                       name  connections
0               watson_actu          6.0
1     russianvsukrainianwar          5.0
2   pray.for.the.world.2022          4.0
3                  24news4u          4.0
4            city__resident          4.0
..                      ...          ...
88               bestpage22          0.0
89   supportukraineastopwar          0.0
90               diyabutt20          0.0
91                 gvc_gary          0.0
92          callsign_corvus          0.0

[93 rows x 2 columns]

In [56]:
query = """
CALL gds.degree.stream('longest_paths', { orientation: 'REVERSE' })
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).uniqueId AS name, score AS connections
ORDER BY connections DESC
"""
# out-degree
result_data = graph.run(query).to_data_frame()
result_data

                       name  connections
0     russianvsukrainianwar          6.0
1                  24news4u          4.0
2               eliemudiayi          4.0
3   pray.for.the.world.2022          3.0
4                  now_live          3.0
..                      ...          ...
88               treyyingst          0.0
89                 on.dahak          0.0
90                  bbcnews          0.0
91            visitukraine_          0.0
92                qtnorthhh          0.0

[93 rows x 2 columns]

In [57]:
query = """
CALL gds.beta.closeness.stream('longest_paths')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).uniqueId AS name, score AS centrality
ORDER BY centrality DESC;
"""
# default clonseness
result_data = graph.run(query).to_data_frame()
result_data

                       name  centrality
0   pray.for.the.world.2022         1.0
1                forcesnews         1.0
2            itsrachelscott         1.0
3               watson_actu         1.0
4              timonthegram         1.0
..                      ...         ...
88               treyyingst         0.0
89                 on.dahak         0.0
90                  bbcnews         0.0
91            visitukraine_         0.0
92                qtnorthhh         0.0

[93 rows x 2 columns]

In [58]:
query = """
CALL gds.beta.closeness.stream('longest_paths', {useWassermanFaust: true})
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).uniqueId AS name, score AS centrality
ORDER BY centrality DESC;
"""

# improved clonseness
result_data = graph.run(query).to_data_frame()
result_data

                     name  centrality
0   russianvsukrainianwar    0.062888
1                24news4u    0.048913
2              puckpootin    0.047259
3             ironmannd88    0.045290
4       hsvusuvavisvajvuz    0.045290
..                    ...         ...
88             treyyingst    0.000000
89               on.dahak    0.000000
90                bbcnews    0.000000
91          visitukraine_    0.000000
92              qtnorthhh    0.000000

[93 rows x 2 columns]

In [59]:
query = """
CALL gds.betweenness.stream('longest_paths')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).uniqueId AS user, score
ORDER BY score DESC;
"""
# betweenness
result_data = graph.run(query).to_data_frame()
result_data

                     user  score
0   russianvsukrainianwar   50.0
1                24news4u   26.0
2         lukkaventuresyt   16.0
3    world247breakingnews   15.0
4                 skynews   11.0
..                    ...    ...
88      fallenangelandpie    0.0
89             diyabutt20    0.0
90               gvc_gary    0.0
91              qtnorthhh    0.0
92        callsign_corvus    0.0

[93 rows x 2 columns]

In [60]:
query = """
CALL gds.pageRank.stream('longest_paths', { maxIterations: 20,  dampingFactor: 0.85})
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).uniqueId AS page, score
ORDER BY score DESC
LIMIT 10
"""
# pageRank
result_data = graph.run(query).to_data_frame()
result_data

                      page     score
0    russianvsukrainianwar  1.044143
1           itsrachelscott  0.857576
2                 24news4u  0.824186
3  pray.for.the.world.2022  0.768409
4            bad_vlad_live  0.743258
5             itslavrenova  0.743258
6                  skynews  0.727486
7               goldbacked  0.704448
8     world247breakingnews  0.693904
9                 now_live  0.678935